//  @import url('../shell.module.scss')

.component {
//  
//  ----------------
    
    background: green;

    width: fit-content;


    .hero {
        background: blue;

    //  position element
    //  ------------
        isolation: isolate;
        display: flex;
        flex-direction: column;
    //  ------------
        justify-content: center;
        min-height: 75vh;
        width: fit-content;
    //  ------------



        //  width: fit-content;

      

        h1 {
            z-index: 100;
            --size: clamp(2rem, 16vw, 5rem);

            line-height: calc(var(--size) * 1);
            font-size: var(--size);
            font-weight: 400;

            //text-transform: uppercase;

            background: linear-gradient(to right, #EE0000, #B42EDE, #336CCD, #0EC6DC);
            background-clip: text;
            width: fit-content;
            

            color: #ffffff50 !important;
        }

        .attention {

            width: fit-content;
        }
        .bio {
            background: transparent !important;
            z-index: -1;
            align-self: center;
            
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            width: clamp(28rem, 10vw + 1rem, 20vw);
        }

        button {
            background: transparent !important;
            border: 0.2rem solid #0EC6DC;
            border-radius: 100rem;
            padding: 1rem 2rem;
            align-self: center;


            &:hover {
                background: green;
            }
        }
    }
}