.btn {
    //  init custom css properties first
    //  ----------------------------------------
    --btn-color-bg:                         var(--brand-color, blue);
    --btn-color-text:                       white;
    //  ------------
    --btn-outline-size:                     0;
    --btn-outline-type:                     solid;
    --btn-outline-color:                    #ffffff20;
    --btn-outline-offset:                   0;
    //  ------------
    --btn-border-size:                      0;
    --btn-border-type:                      solid;
    --btn-border-color:                     green;
    --btn-border-radius:                

    //  -------------------

    --border-radius:                        0.25rem;
    --pseudo-opacity:                       0;
    --pseudo-height:                        0;
    --pseudo-width:                         0;

    //  ----------------------------------------
    //  BLOCK
    //  ----------------------------------------

    isolation:                              isolate;
    position:                               relative;

    color:                                  #ffffff50;

    //  › box, border, outline
    //  --------------------
    box-sizing:                             border-box;
    border-radius:                          var(--border-radius);
    //  ------------
    //  ------------
    border:                                 var(--btn-border-size)
                                            var(--btn-border-type)
                                            var(--btn-border-color);
    //  ------------
    outline:                                var(--btn-outline-size, 0)
                                            var(--btn-outline-type, solid)
                                            var(--btn-outline-color, var(--brand-color));
    //  ------------
    outline-offset:                         var(--btn-outline-offset, 0);
    
    
    //  › size, margin, padding
    //  --------------------
    padding:                                0.8ch 2.5ch;
    margin-left:                            1rem;
    overflow:                               hidden;
    
    //  --------------------
    font-weight: bold;
    



    //  › animation, transition
    //  --------------------
    transition:                             background 0.24s ,
                                            outline 1s 0s,
                                            outline-offset 0.8s 0.05s,
                                            border-radius 0.5s;
    //  --------------------
    
    
    //  › pseudo selectors
    //  --------------------
    &:hover, &:active {
        
        //  we can use the parent element's transitions
        //  by setting the same css variables on hover

        --button-color-bg:                  var(--brand-color);
        --button-color-text:                white;
        --button-outline-size:              0;
        --button-outline-type:              solid;
        --button-outline-color:             #ffffff20;

        --border-color:                     var(--brand-color);
        --border-radius:                    0.1rem;
        --pseudo-transform:                 translate(0, 0, 0);
        --pseudo-opacity:                   1;
        --pseudo-height:                    100%;
        --pseudo-width:                     100%;
        



        outline:                            0.2ch solid var(--brand-color);
        outline-offset:                     0.4ch;
        color:                              white;
        //background:                         var(--brand-color);

    }


    //  › pseudo elements
    //  --------------------
    &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        
        font-weight: normal;
        
        background:                         var(--btn-color-bg);
        height:                             var(--pseudo-height);
        //width:                              var(--pseudo-height);
        opacity:                            var(--pseudo-opacity);



        transition:                         background 1s,
                                            height 0.4s,
                                            opacity 1s;

        z-index: -1;
    }
}