:root {
    //  measurement base
    //  --------------------
    --baseline: 16px;
    //  --------------------
    
    //  colors
    //  --------------------
    --color-primary: green;
    --color-secondary: green;
    //  --------------------
    
    //  spacing
    //  --------------------
    --spacing-xs: 0.25rem;
    //  --------------------
}